/*Fondos*/
#fondoMain{
    background-color: #f1f1e8;
    padding: 20px;
}

#fondoTienda{
    background-color: rgb(0, 128, 55);
    padding: 30px;
}



#fondoPrincipal{
    background-color: rgb(71, 167, 67);
}

#fondoSabores{
    background: whitesmoke;
    padding: 30px;
}

/*Ajustador de imagenes*/
.card-ajustador{
    width: 270px;
    height: 300px;
}

.logo_nav{
    width: 60px;
    cursor: pointer;
}

.ajustador{
    max-width: 600px;
    max-height: 500px;
}

.cartImg {
    width: 45px; 
    cursor: pointer;
}


/*TEXTO*/
.textoPrincipal {
    margin-top: 150px;
    color: #206a5d;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.textoSecundario{
    color: #2AAA4F;
    letter-spacing: 1px;
}

.textoTienda{
    color: whitesmoke;
    letter-spacing: 2px;
}